# Code from https://github.com/facebook/react-native
# Xcode
f14Fun/!**/*.xcodeproj
f14Fun/!**/*.pbxproj
f14Fun/!**/*.xcworkspacedata
f14Fun/!**/*.xcsettings
f14Fun/!**/*.xcscheme
f14Fun/*.pbxuser
f14Fun/!default.pbxuser
f14Fun/*.mode1v3
f14Fun/!default.mode1v3
f14Fun/*.mode2v3
f14Fun/!default.mode2v3
f14Fun/*.perspectivev3
f14Fun/!default.perspectivev3
f14Fun/xcuserdata
f14Fun/*.xccheckout
f14Fun/*.moved-aside
f14Fun/DerivedData
f14Fun/*.hmap
f14Fun/*.ipa
f14Fun/*.xcuserstate
f14Fun/project.xcworkspace

# Gradle
f14Fun/build/
f14Fun/packages/react-native-gradle-plugin/build/
f14Fun/packages/rn-tester/build
f14Fun/packages/rn-tester/android/app/.cxx/
f14Fun/packages/rn-tester/android/app/build/
f14Fun/packages/rn-tester/android/app/gradle/
f14Fun/packages/rn-tester/android/app/gradlew
f14Fun/packages/rn-tester/android/app/gradlew.bat
f14Fun/ReactAndroid/build/
f14Fun/ReactAndroid/.cxx/
f14Fun/ReactAndroid/gradle/
f14Fun/ReactAndroid/gradlew
f14Fun/ReactAndroid/gradlew.bat
f14Fun/ReactAndroid/hermes-engine/build/
f14Fun/ReactAndroid/hermes-engine/.cxx/
f14Fun/template/android/app/build/
f14Fun/template/android/build/

# Buck
f14Fun/.buckd
f14Fun/buck-out
f14Fun/.lsp.buckd
f14Fun/.lsp-buck-out
f14Fun/ReactAndroid/src/main/jni/prebuilt/lib/
f14Fun/ReactAndroid/src/main/gen

# Android Studio
f14Fun/.project
f14Fun/.settings
f14Fun/.classpath

# Watchman
f14Fun/.watchmanconfig

# Android
f14Fun/.idea
f14Fun/.gradle
f14Fun/local.properties
f14Fun/*.iml
f14Fun/android/

# Node
f14Fun/node_modules
f14Fun/*.log
f14Fun/.nvm
f14Fun/bots/node_modules/
f14Fun/package-lock.json

# OS X
f14Fun/.DS_Store

# Test generated files
f14Fun/ReactAndroid/src/androidTest/assets/AndroidTestBundle.js
f14Fun/*.js.meta

/coverage
/third-party

# Root dir shouldn't have Xcode project
f14Fun/*.xcodeproj

# ReactCommon subdir shouldn't have Xcode project
f14Fun/ReactCommon/**/*.xcodeproj

# Libs that shouldn't have Xcode project
f14Fun/Libraries/FBLazyVector/**/*.xcodeproj
f14Fun/Libraries/RCTRequired/**/*.xcodeproj
f14Fun/React/CoreModules/**/*.xcodeproj
f14Fun/React/FBReactNativeSpec/**/*.xcodeproj
f14Fun/packages/react-native-codegen/**/*.xcodeproj

# Ruby Gems (Bundler)
f14Fun/vendor
f14Fun/template/vendor

# iOS / CocoaPods
f14Fun/template/ios/build/
f14Fun/template/ios/Pods/
f14Fun/template/ios/Podfile.lock
f14Fun/packages/rn-tester/Gemfile.lock

# Ignore RNTester specific Pods, but keep the __offline_mirrors__ here.
f14Fun/packages/rn-tester/Pods/*
!/packages/rn-tester/Pods/__offline_mirrors__

# react-native-codegen
f14Fun/React/FBReactNativeSpec/FBReactNativeSpec
f14Fun/packages/react-native-codegen/lib
f14Fun/ReactCommon/react/renderer/components/rncore/
f14Fun/packages/rn-tester/NativeModuleExample/ScreenshotManagerSpec*

# Additional SDKs
f14Fun/sdks/.hermesversion
f14Fun/sdks/hermes
f14Fun/sdks/download

# Visual studio
.vscode
.vs

# Android memory profiler files
*.hprof
